.about-me-root {
    font-family: Leitura News, serif;
    font-size: 1em;
}

.about-me-description {
    font-size: 1.333em;
}

.about-me-properties {
    margin-top: 1.777em;

    & div {
        margin-top: 1em;
    }

    & ul li, & span {
        font-family: Neuzeit Grotesk, sans-serif;
        text-decoration: underline;
        width: max-content;
    }
}
