.blog-link-root {
    border: solid 2px color(black a(50%));
    border-radius: 0.5em;
}

.blog-link-article-name {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0.5em 0 0.5em;
}

.blog-link-tags {
    display: flex;
    padding: 0 0.25em;
}