.nav-bar-root {
    width: max-content;
}

.nav-bar-root li {
    border-bottom: 1px solid;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    list-style-type: none;
    margin: 1rem;
    text-align: right;
    transition-property: color;
    transition-duration: 300ms;
}

.nav-bar-root li:hover {
    color: #d20000;
}
