.nav-btn-root {
    display: block;
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    letter-spacing: 0.1em;
    outline: none;
    text-decoration: none;
}


/*todo: Emphasize active link.*/