.nav-btn {
    background-color: transparent;
    color: #333333;
    cursor: default;
    font-family: sans-serif;
    font-size: large;
    text-decoration: underline;
    text-underline: dash;
    transition-property: color;
    transition-duration: 300ms;
}

.nav-btn:hover {
    color: #990000;
}