.nav-btn {
    background-color: transparent;
    color: inherit;
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    outline: none;
    text-decoration: none;
}
