.social-root {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin-top: 5.61em;
}

.social-icon {
    margin: 0 1em;
}

.social-icon > a:any-link {
    cursor: pointer;
    outline: none;
}
