.tag-root {
    border: solid 2px color(black a(50%));
    border-radius: 0.5em;
    color: #FFFFFF;
    cursor: default;
    font-family: "Operator Mono", cursive;
    font-size: 0.75em;
    font-style: italic;
    margin: 0.5em 0.25em;
    padding: 0.3em;
}

.black {
    background-color: #000000;
}

.orange {
    background-color: #d26900;
}

.purple {
    background-color: #d200d2;
}

.turquoise {
    background-color: #00d2a0;
}

.yellow {
    background-color: #d2d200;
}
