.about-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10.486em;
}

.about-content {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
}

.about-header {
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 1.777rem;
    text-align: center;
}

.about-me {
    font-family: serif;
    font-size: 1.333rem;
}
