.about-content {
    margin: 0 3.157em;
}

.about-header {
    font-size: 1.777rem;
    text-align: center;
}

.about-root {
    padding: 0 17.713em;
}

@media screen and (max-width: 1024px) {
    .about-root {
        padding: 0 9.69em;
    }
}

@media screen and (max-width: 768px) {
    .about-root {
        padding: 0 5.61em;
    }
}

@media screen and (max-width: 640px) {
    .about-root {
        padding: 0 1em;
    }
}