.blog-root {
}

.blog-article {
    /* 3.157em + 17.713em */
    margin: 0 20.87em;
}

.blog-article-body {
    & img {
        max-height: 20em;
        max-width: 20em;
    }
}

.blog-link-list {
    bottom: 0;
    left: 1em;
    position: fixed;
    top: 0;
}

@media screen and (width <= 640px) {
    .blog-article {
        margin: 0 5.61em;
    }

    .blog-link-list {
        left: 0;
        max-width: 5.61em;
    }
}
