.blog-root {
}

.blog-article {
    /* 3.157em + 17.713em */
    margin: 0 20.87em;
}

.blog-link-list {
    bottom: 0;
    left: 1em;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
