.social-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.209em;
}

.social-icon {
    margin: 0 1.777em;
}

.social-icon > a:any-link {
    cursor: pointer;
    outline: none;
}
